<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ims.schoofy_1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Schoofy_1">
        <activity android:name=".Wali_kelas.Home_wali_kelas"/>
        <activity android:name=".Siswa.Home_siswa" />
        <activity android:name=".Guru.Home_guru" />
        <activity android:name=".Auth.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>